In [19]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [20]:
userName = "indroneel1000@gmail.com"
password = "nevergiveup"

In [21]:
driver = webdriver.Chrome()
driver.get("https://www.linkedin.com/job/home")

In [22]:
driver.maximize_window()

In [23]:
jobTitle = []
companyName = []
location = []

title = driver.find_elements_by_class_name("base-search-card__title")
for i in range(len(title)):
    jobTitle.append(title[i].text)

company = driver.find_elements_by_class_name("base-search-card__subtitle")
for i in range(len(company)):
    companyName.append(company[i].text)

locations = driver.find_elements_by_class_name("job-search-card__location")
for i in range(len(locations)):
    location.append(locations[i].text)

In [24]:
import pandas as pd

list_of_tuples = list(zip(jobTitle, companyName,location))

df = pd.DataFrame(list_of_tuples,
                  columns = ['Job Title', 'Company Name', 'Job Location'])

In [25]:
print(len(jobTitle))
print(len(companyName))
print(len(location))

175
175
175

In [26]:
df

,Job Title,Company Name,Job Location
0,Software Engineer II,Bank of America,"Charlotte, NC"
1,Software Engineer (Backend or Full-Stack),Candid Health,"San Francisco, CA"
2,Software Engineer Intern,Allscripts,"Raleigh, NC"
3,Software Engineer,Treet,San Francisco Bay Area
4,Software Engineer,Promise,San Francisco Bay Area
...,...,...,...
170,Full Stack Developer - JR Level REMOTE,Actalent,"Plano, TX"
171,Software Development Engineer Internship - DataX,Audible,"Seattle, WA"
172,Software Engineer II,Bank of America,"Charlotte, NC"
173,Full-stack engineer,BaseTen,"San Francisco, CA"
174,"Full Stack Engineer, Bouncer",Stripe,"San Francisco, CA"